/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/*
!/storage/app/uploads
/storage/app/uploads/*
!/storage/app/uploads/.gitkeep
!/storage/app/uploads/*/.gitkeep
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.vscode
*.sql
/public/uploads/*
!/public/uploads/.gitkeep
!/public/uploads/*/.gitkeep
